/* 
    Document   : budget
    Created on : Feb 21, 2014, 2:08:07 AM
    Author     : stephen
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.node {
  stroke-width: 1.5px;
}


#nytg-tooltipContainer {
  position: absolute;
  bottom: 0;
  width: 230px;
  left: -125px;
  font-size: 12px;
  line-height: 16px;
  padding: 10px;
  border-radius: 3px;
  background: rgba(255,255,255,0.9);
  color: #000;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);  
  border:1px solid rgba(200,200,200,0.85);
  text-align:center;
}

#nytg-tooltip {
 text-align:center;  
  z-index: 1000;
  position: absolute;
  display: none;
}

#nytg-tooltip .nytg-tail {
  position: absolute;
  bottom: -8px;
  left: 105px;
  width: 40px;
  height: 8px;
/*  background: url(http://graphics8.nytimes.com/packages/images/newsgraphics/2012/0202-federal-budget/tail_white.png) 50% 0%; */
}
#nytg-tooltip .nytg-department {
  text-transform: uppercase;
  text-align: left;
  font-size: 10px;
  margin-bottom: 2px;
  color:#666;
  text-align:center;  

}
#nytg-tooltip .nytg-rule{
  height:1px;
  margin:1px auto 3px;
  background:#ddd;
  width:130px;
}

#nytg-tooltip .nytg-discretion{
  color:#666;
/*   text-transform:uppercase;*/
  font-size: 11px;   
  text-align:center;  
  font-style:italic;
}
#nytg-tooltip .nytg-name {
  text-align: left;
  font-size: 13px;
/*  width:170px;*/
 text-align:center;  
}
#nytg-tooltip .nytg-value {
/*  position:absolute;*/
 text-align:center;
  right:10px;
  top:28px;
  font-size: 16px;
/*  width:100px;*/
 text-align:center;  
  overflow:hidden;
  font-weight:bold;
}
#nytg-tooltip .nytg-change {
  padding-left:10px;
/*  width:110px;  */
  font-size: 16px;  
  text-align:right;  
  overflow:hidden;
/*  position:absolute;*/
  font-weight:bold;  
  color:#666;
 text-align:center;  
 display:inline;
}
#nytg-tooltip .nytg-valuesContainer {
  padding-top:7px;
  
}
#nytg-tooltip.nytg-minus .nytg-change{
  color:#900;
}
#nytg-tooltip.nytg-plus .nytg-change{
  color:#090;
}


.bar {
  fill: rgb(199, 199, 199);
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
        text-align: center;
}

h1 {
    margin: 60, 60, 60, 60;
}

.row {
    width: 80%;
    margin: auto;
    
}
    

#subylabel {
    font-size: 12px;
    font-style: italic;
    font-family: inherit;
    
}

#mainylabel {
    font-size: 18px;
    font-family : inherit;
    //font-family:Arial,Helvetica,sans-serif;
}